@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Profil Bilgileri ve Şifre Güncelleme</h1>

<form method="post">
    <label>Adınız</label>
    <input type="text" class="form-control" asp-for="Name" />
    <label>Soyadınız</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <label>Kullanıcı Adınız</label>
    <input type="text" class="form-control" asp-for="UserName" readonly/>
    <label>E-Postanız</label>
    <input type="text" class="form-control" asp-for="Email" />
    <label>Şifreniz</label>
    <input type="password" class="form-control" asp-for="Password" />
    <label>Şifre Tekrarı</label>
    <input type="password" class="form-control" asp-for="ConfirmPassword" />
    <br />
    <button class="btn btn-rounded mb-0 btn-outline-success">Kaydet</button>
</form>

